h1 { 
    color: purple;
}

body {
    background-color: rgb(171, 211, 245);
    text-align: center;
}

/* I didn't do much with this to make it pretty as I've been trying to understand Javascript .... and it's been tough.